@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-alyamama: var(--font-alyamama);
	--font-relationship-of-melodrame: var(--font-relationship-of-melodrame);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

* {
	font-family: var(--font-alyamama);
	font-style: italic;
}

body {
	background: var(--background);
	color: var(--foreground);
}

h1 {
	font-style: normal;
	font-family: var(--font-relationship-of-melodrame);
}

a {
	opacity: 80%;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
	opacity: 100%;
}
